@font-face {
    font-family: '1942report1942report';
    src: url('fonts/1942 Report/1942-webfont.eot');
    src: url('fonts/1942 Report/1942-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/1942 Report/1942-webfont.woff') format('woff'),
    url('fonts/1942 Report/1942-webfont.ttf') format('truetype'),
    url('fonts/1942 Report/1942-webfont.svg#1942report1942report') format('svg');
    font-weight: normal;
    font-style: normal;
}
BODY {
	margin: 0;
	padding: 0;
}
TABLE{
    border: 0px solid #000;
    width: 100%;
    height: 100%;
    font: 1.5em '1942report1942report', Arial, sans-serif;
	letter-spacing: 0;
}
TD{
    border: 0px solid #000;
}
A{
    color: #000;
}
a:hover{
    color: red;
}
a.facebook:hover{
    color: #3b5998;
}
a.linkedin:hover{
    color: #0073B2;
}